@import "tailwindcss";

@theme {
  --color-brand: #f26b8a;
}

/* to hide scrollbar */
@layer base {
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }

  html, body {
    -ms-overflow-style: none; 
    scrollbar-width: none;
    overflow-y: auto;
  }
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

/* Custom Scrollbar Utility */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* Thin scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* slate-200 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1; /* slate-300 */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #e2e8f0 transparent;
}